* {
  box-sizing: border-box;
}
header {
  background-color: grey;
  width: auto; margin: left;
  clear: both;
}
a {
  color: #00B7FF;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label, input {
  display: block;
}
label {
  margin-bottom: 20px;
}
legend {
  margin-bottom: 5px;
}
#f1 {
  width: 50px; margin: left;
}
.tagging {
  width: 25%;
  float: left;
}
.discovery {
  width: 75%;
  float: left;
}
footer {
  clear:both;
  background-color: grey;
}
