* {
  box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}



.row {
  display: flex;
}

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
label, input {
    	display: block;
			}
			label {
        margin-top: 10px;
        margin-bottom: 7px;
			}
			legend {
				margin-bottom: 5px;
			}
			#f1 {
				width: 90%;
        margin: left;
			}
a {
  color: #00B7FF;
}

header {
  background-color: grey;
  color: white;
  padding: 15px;
}

main {
  display: flex;
  margin: 15px;
}

footer {
  background-color: grey;
  color: white;
  padding: 15px;
}

input {
  width: 150px;
  height: 35px;
}



.discovery {
  width: 98%;
}

button {
  margin-top: 5px;
  margin-bottom: 5px;
}

.discovery button {
  margin-left: 10px;
}

.taglist li {
  background-color: orange;
  color: white;
  list-style-type: none;
  padding: 10px;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
}

ul {
  padding: 0px;
  margin: 0px;
}

#filter-form {
  padding-bottom: 10px;
}
