*
{
  box-sizing: border-box;
}
body
{
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.tagging {width: 25%;}
.taglist {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.tagmap {width: 66.66%;}
.discovery {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.discovery-header {width: 100%;}
[class*="col-"] {
  float: left;
  padding: 1%;
}

.row {
    display: flex;
    flex-direction: row;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


header
{
  clear: both;
  background-color: grey;
  padding: 1%;
  color: white;
}
a
{
  color: #00B7FF;
}

.tagging
{
  float: left;
  padding: 1%;
}
  #f1
  {
    width: 98%;
    margin: left;
  }
  #f1 input
  {
    margin-bottom: 10px;
    padding: 1.5%;
  }
  #f1 button
  {
    margin-top: 2px;
    margin-bottom: 2px;
    display: block;
  }
  #f1 label
  {
    display: block;
    margin-bottom: 5px;
  }
  #f1 legend
  {
    margin-bottom: 5px;
  }

.discovery
{
  float: left;
  padding: 1%;
  /*border: 1px solid red;*/
}
  #f2
  {
    padding-top: 1%;
    padding-bottom: 1.5%;
  }
  #f2 input
  {
    display: inline-block;
    padding: 0.5%;
  }


.discovery-header
{
  float: left;
  /*border: 1px solid red;*/
}
.taglist
{
  display: flex;
  float: left;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  /*border: 1px solid red;*/
  font-weight: bold;
  overflow: hidden;
}
.taglist li
{
  display: flex;
  overflow: hidden;
  padding: 2.5%;
  margin-left: -25px;
  margin-bottom: 10px;
  float: left;
  width: 100%;
  color: white;
  background-color: DeepSkyBlue;
  /*/*border: 1px solid red;*/*/
}
.tagmap
{
  float: left;
  padding: 1.5%;
  padding-left: 0%;
  /*border: 1px solid red;*/
}
  #result-img
  {
  width: 98%;
  height: 350px;
  object-fit: fill;
  }

footer
{
  font-weight: bold;
  clear: both;
  background-color: grey;
  color: white;
  padding: 1%;
}

@media (max-width: 850px) {
  .Site {
    display: flex;
    padding: 20px;
    flex-direction: column;
    flex-grow: 1;

	}
  .row {
    justify-content: center;
    flex-direction: column;
    align-items: center;
		/*grid-template-columns:  repeat(1, 1fr);
    width: 135%;*/
  }
  .tagging {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
  .tagging h2 {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 35%;
  }
  .tagging #tag-form {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 35%;
  }
  .discovery {
    width: 100%;
  }
  .taglist{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .taglist li {
    width: 100%;
    display: inline-table;
  }
}
